@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border  border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#f7ab0a]/40 hover:text-[#F7AB0A]/40;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7ab0a]/40 focus:text-[#f7ab0a]/40 hover:border-[#f7ab0a]/40;
  }

  @media (max-width: 700px) {
    .WorkExperience {
      height: 100vh;
    }
    .ExperienceCard {
      position: relative;
    }

    .WorkExperienceBox {
      margin: 100px;
      position: absolute;
      width: 200px;
      height: 200px;
      left: 0;
      top: 9rem;
    }
  }

  @media (max-width: 390px) {
    #experience {
      display: none;
    }

    .text390 {
      font-size: 13px !important;
      margin-top: 20px;
    }

    .contact390 {
      margin: 10px auto;
    }

    .form390 {
      max-width: 380px;
    }
  }

  @media (max-width: 375px) {
    .skills375 {
      padding-top: 100px;
    }

    .contact375 {
      font-size: 10px;
    }

    .text375 {
      font-size: 13px !important;
      margin-top: 90px;
    }
  }
}
